<tr>
  <td><%= ranking_row.keyword %></td>
  <td><%= ranking_row.page %></td>
  <td><%= ranking_row.position %></td>
<% ranking_row.competition.each do |c| %>
  <td><%= c %></td>
<%-end %>
  <td><%= ranking_row.best %></td>
</tr>
