<div>
  <center>
    <ul class="changes">
      <% caluclate_changes(@rankings).each do |h| %>
        <% pos_neg_class = h[1].positive? ? "positive" : "negative" %>
        <% pos_neg = h[1].zero? ? "" : h[1].positive? ? "+" : "-" %>
        <li><%= h[0] %>: <span class="<%= pos_neg_class %>"><%= "#{pos_neg}#{h[1]}" %></span></li>
      <% end %>
    </ul>
  </center>
</div>

<div>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= line_chart ranking_ceiling(@rankings), min: 1, max: 80, 
    library: { height: 600, curveType: 'none', explorer: { axis: 'horizontal' } } %>
</div>
