<tr>
  <td><%= ranking_row.created_on.to_s(:short) %></td>
  <td><%= ranking_row.domain %></td>
  <td><%= ranking_row.keyword %></td>
  <td><%= ranking_row.position %>
      <%= ranking_row.change %></td>
</tr>
